*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.343);
    
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
    padding: 10px;

}

nav img{
    height: 50px;
    width: 50px;
}
header a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}
header a:hover{
    color: aliceblue;
}
form button{
    border: none;
    background: none;
    position: absolute;
    right: 7px;
    top: 5px;
}
header form{
    position: relative;
}

form button img{
    height: 25px;
    width: 25px;
    border-radius: 30px;

}
main{
    flex: 1;
    margin-top: 15%;
    margin-left: 46%;
}
footer{
    background-color: black;
    padding: 30px;
}
footer .copy{
    color: aliceblue;
    text-align: center;
}

header nav input{
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    border: none;
    outline: none;
}
header nav input:focus {
    background-color: rgba(255, 255, 255, 0.71);
}