*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}   
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    background-color: rgb(11, 21, 40);
    
}
header nav h3{
    color: #ffffff;
}
header nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header nav a:hover{
    text-decoration: underline;
    color: whitesmoke;
}
main{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    
    flex: 1;
}
footer{
    background-color: #000;
    color: aliceblue;
    padding: 2%;
}
.search{
    display: flex;
    gap: 10%;
    align-items: center;
    
    font-size: 20px;
    
}
main .search input{
    padding: 8%;
    border: 2px black solid;
    
}
.btn{
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    margin-right: 2%;
}
.btn button{
    padding: 8px;
    color: #ffffff;
    background:#000;
    border-radius: 10px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: Arial, Helvetica, sans-serif;

}
.btn button:hover{
    background-color: #ffffff;
    color: #000;
}
